<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>infinigo_web_devops</title>
  <link href=/static/css/app.de9bf921d9072e91d583d6de579d9cec.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.c20dbf1d98eb07c91842.js></script>
<script type=text/javascript src=/static/js/app.5e520f3111f7bd9653aa.js></script>
</body>
</html>
