{% extends "devops/base.html" %}
{% block content %}
    <div class="layui-container" >
        <blockquote class="layui-elem-quote">
            <h1>add device</h1>
        </blockquote>

        <div class="layui-row" >

            <div class="layui-col-md5" >
                <form action="/devops/add_domain_commit/" method="POST" enctype="multipart/form-data"/>
                    {% csrf_token %}
                    <hr class="layui-bg-green">

                    DOMAIN：<input type="text" name="domain" id="domain" placeholder="domain" class="layui-input"/>
                    <hr class="layui-bg-green">

                    IP：<input type="text" name="ip" id="ip" placeholder="ip" class="layui-input"/>
                    <hr class="layui-bg-green">

                    CNAME：<input type="text" name="cname" id="cname" placeholder="cname" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <!--
                    业务管理员：<select name="leader"  id="leader" lay-verify="required"  onchange="" lay-search="" class="layui-select-none" style="height: 35px">
                      <option value="">请选择管理员</option>
                        {%for leader in leader_list%}
                            <tr>
                                <option value={{leader.id}}>{{leader.username}}</option>
                            </tr>
                        {%endfor%}
                    </select>
                    <hr class="layui-bg-green">
                    -->
                    <input type="submit" value="添加" class="layui-btn"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}