{% extends "devops/base.html" %}
{% block content %}
    <div class="layui-container">
        {# 查询业务模块 #}
        <form action="/devops/search_business" method="get">
            项目名称：<input type="text" style="width:200px; height:30px;" placeholder="搜索引擎" name="project" id="project">
            <input type="submit" class="layui-btn" value="搜索">
        </form>

        {# 显示所有业务模块 #}
        <table class="layui-table" style="margin:0 ;width:100%; padding:0px;">
            <thead>
              <tr>
                  <th style="width:5%">id</th>
                  <th style="width:5%">business</th>
                  <th style="width:5%">project</th>
                  <th style="width:5%">application</th>
                  <th style="width:5%">local_ip</th>
                  <th style="width:5%">port</th>
                  <th style="width:10%;word-break:break-all;word-wrap : break-word ;verflow:hidden;">deploy_dir</th>
                  <th style="width:10%;word-break:break-all;word-wrap : break-word ;verflow:hidden;">log_dir</th>
                  <th style="width:5%">leader</th>
                  <th style="width:2%">修改</th>
                  <th style="width:2%">删除</th>
              </tr>
            </thead>
            <tbody>
              {%for business in data%}
                  <tr>
                      <td  style="width:5%">{{business.id}}</td>
                      <td  style="width:5%">{{business.business}}</td>
                      <td  style="width:5%">{{business.project}}</td>
                      <td  style="width:5%">{{business.application}}</td>
                      <td  style="width:5%">{{business.local_ip}}</td>
                      <td  style="width:5%">{{business.port}}</td>
                      <td  style="width:10%;word-break:break-all;word-wrap : break-word ;verflow:hidden;">{{business.deploy_dir}}</td>
                      <td  style="width:10%;word-break:break-all;word-wrap : break-word ;verflow:hidden;">{{business.log_dir}}</td>
                      <td  style="width:5%">{{business.leader_id}}</td>
                      <td  style="width:2%">
                          {# 修改业务模块 #}
                          <a href="/devops/get_business/{{ business.id }}/" class="layui-btn layui-btn-normal">
                              <i class="layui-icon">&#xe642;</i>修改
                          </a>
                      </td>
                      <td  style="width:2%">
                          {# 删除业务模块 #}
                          <a href="/devops/delete_business/{{ business.id }}" class="layui-btn layui-btn-danger">
                              <i class="layui-icon">&#xe640;</i>删除
                          </a>
                      </td>
                  </tr>
              {%endfor%}
            </tbody>
        </table>

        {# 添加业务模块 #}
        <a href="/devops/add_business" class="layui-btn layui-btn-warm">
            <i class="layui-icon">&#xe654;</i> 添加
        </a>
    </div>
{% endblock %}