{% extends "devops/base.html" %}
{% block content %}
    <div class="layui-container" >
        <blockquote class="layui-elem-quote">
            <h1>add supplier</h1>
        </blockquote>

        <div class="layui-row" >

            <div class="layui-col-md5" >
                <form action="/devops/add_supplier_commit/" method="POST" enctype="multipart/form-data"/>
                    {% csrf_token %}
                    <hr class="layui-bg-green">

                    company：<input type="text" name="company" id="company" placeholder="company" class="layui-input"/>
                    <hr class="layui-bg-green">

                    address：<input type="text" name="address" id="address" placeholder="address" class="layui-input"/>
                    <hr class="layui-bg-green">

                    idc_address：<input type="text" name="idc_address" id="idc_address" placeholder="idc_address" class="layui-input"/>
                    <hr class="layui-bg-green">

                    contact：<input type="text" name="contact" id="contact" placeholder="contact" class="layui-input"/>
                    <hr class="layui-bg-green">

                    contact_phone：<input type="text" name="contact_phone" id="contact_phone" placeholder="contact_phone" class="layui-input"/>
                    <hr class="layui-bg-green">

                    assistant：<input type="text" name="assistant" id="assistant" placeholder="assistant" class="layui-input"/>
                    <hr class="layui-bg-green">

                    assistant_phone：<input type="text" name="assistant_phone" id="assistant_phone" placeholder="assistant_phone" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <!--
                    业务管理员：<select name="leader"  id="leader" lay-verify="required"  onchange="" lay-search="" class="layui-select-none" style="height: 35px">
                      <option value="">请选择管理员</option>
                        {%for leader in leader_list%}
                            <tr>
                                <option value={{leader.id}}>{{leader.username}}</option>
                            </tr>
                        {%endfor%}
                    </select>
                    <hr class="layui-bg-green">
                    -->
                    <input type="submit" value="添加" class="layui-btn"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}